<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1 style="color:#2e86abff;text-align:center;">sol-search</h1>
    <p style="text-align:center;">
      <%= @user.name %>, you have recieved a proposed contract for <%= @location.name %>.<br><br>
      In order to view, please navigate to <%= link_to "sol-search", root_url %>, and click "Sale Contracts" located within the drop down menu.
      <br><br>
      Best of luck!
    </p>

  </body>
</html>
