<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to sol-search</h1>
    <p>
      <%= @user.name %>, you have successfully signed up.<br>
    </p>
    <p>
      To validate your email and and unlock access to view, post, and accept contracts, please click here: 
      <%= link_to "validate your email", users_validate_url, target: :_blank %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>