<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1 style="color:#2e86abff;text-align:center;">Welcome to sol-search</h1>
    <p style="text-align:center;">
      <%= @user.name %>, you have successfully registered your account.<br><br>
      In order to create locations, view, post and accept contracts, please validate your e-mail by <%= link_to "clicking here", root_url + "users/email_confirmation?token=" + @user.confirmation_token %>.<br><br>
      
      Thanks for joining!
    </p>

  </body>
</html>
