<h1>Contract Details</h1>


<% if @contract.status == "Proposed" && @contract.created_at == @contract.updated_at %>
    <p style="color:gray">
    <%= render 'summary' %>
    <% if @contract.owner.id == current_user%>
        <%= render 'response' %>
    <% end %>
<% elsif @contract.status == "Accepted" %>
    <p style="color:blue">
    <%= render 'summary' %>
<% elsif @contract.status == "Declined" %>
    <p style="color:red">
    <%= render 'summary' %>
<% end %>

