<h2>Your Profile</h2>

Below is all the information we have on file for you:<br>
User Profile ID: <%= @user.id %><br>
Name: <%= @user.name %><br>
Email: <%= @user.email %><br><br><br>


list all assets here, with links to each asset<br><br>

list all contracts here, with links to each contract<br>