<div>
<h3>Why this site was built</h3>

<p>Solar is a great investment, financially and to help reduce the carbon intensity of our electricity supply.  In many states, the investment works by having a new meter put in that tracks generation of the array and applies credits to another electric account within the same utility & load zone.  This lends itself well to single family homeowners that have good exposure to the sun and own unrestricted rights to their roof.</p>

<p>This also leaves a lot of missed opportunity.  There are many investment properties that have great exposure for solar, but how does one go about finding a particular person who is willing to accept the utility credits and pay dollars for them?  This step is the key hinderance to adopting solar on many investment properties.  It is simply too expensive in time and effort to cold call or knock on doors to try to sign up an agreement for a small amount of power, even if the investment otherwise pencils out.</p>

<p>This site is built to handle just that step.  We allow interested parties to post their already built solar systems or, proposed projects, and wait for clients to submit proposals for a power purchase agreement (PPA).  Many projects will never be built until the offtake is contracted for a long enough duration to ensure the project is feasible, we hope to greatly lower the time and effort cost of matching interested parties.</p>

<p>The benefit is mutual, typically annual contracts come at a repayment rate of nearly 100%, whereas a multi-year commitment can assure gaurenteed payments to the owner & a long term discounted rate for the consumer.  Where exactly that 'meeting of the minds' is will differ for each agreement, so we allow the consumer to submit an intial term and repayment rate, and simultaniously make the consumers email available to the owner to work out the details.</p>

<h3>What we ask of you</h3>

<p>This website was built as a tool to help address the needs of our enviornment, accelerate the adoption of renewable energy and to help unlock solar as an investment to bennefit both producers and consumers.</p>

<p>We ask that as you formalize contracts directly between parties, you decline pending offers that you are not interested in, and work together to submit (consumer) and approve (owner) a final proposal that reflects the deal you have made.  This helps us accurately calculate if the owner has excess power that is available for purchase.  When a location has excess power, we highlight this to show consumers that it is worth their time to contact the owners.  Locations that have no excess generation available are not removed from the browsing section.</p>

<p>The website will be hosted free of charge, until it begins to generate cost if user traffic greatly increases.  We will not work on problems that we do not yet have, so the plan is to have free access until further notice.</p>

<h3>DISCLAIMER:</h3>
<p>Use this website at your own risk.  Due to managing user login and passwords, there is a risk of this website being compromised.  Please use a unique, never before used password and do not input or save any important information that would become a problem if the site was breached.  This was built as a software engineering class project.</p>

<p>All applicable authorities having jurisdiction, as well as laws governing your utilities should be researched and adhered to.  Contracts & proposals marked on this website are non-binding, and must be contracted privately between parties.  We only ask that the records on this site reflect the contract so we are able to correctly display locations that have excess capacity to sell to consumers.</p></div>